
body {
    background: #c9aee1;
    font-family: 'Mandali', sans-serif;
}
img{
    width: 50%;
    display: block;
}

.logo{
    width: 50px !important;
    padding: 7px;
    background-color: #42275a;
    border-radius: 40px;
}

.btn{
    background: linear-gradient(to right, #42275a , #734b6d);
    border: 0;
    border-radius: 10px;
    color: white;
}


h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50;
}

hr{
    width: 60%;
    background: linear-gradient(to right, #42275a , #734b6d);
    padding-top: 5px;
    border-radius: 20px;
}

form{
    text-align: left;
    width: fit-content;
}

.box{
    width: 75%;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    height: fit-content;
    margin-bottom: 10px;
}